In [41]:
import os
import pcse
import pandas as pd
from pcse.fileinput import YAMLCropDataProvider

In [72]:
p = YAMLCropDataProvider()
p.set_active_crop('maize', 'Maize_VanHeemst_1988')
print(p)

YAMLCropDataProvider - current active crop 'maize' with variety 'Maize_VanHeemst_1988'
Available crop parameters:
 {'CO2EFFTB': [40.0, 0.0, 360.0, 1.0, 720.0, 1.0, 1000.0, 1.0, 2000.0, 1.0], 'CO2TRATB': [40.0, 0.0, 360.0, 1.0, 720.0, 0.74, 1000.0, 0.74, 2000.0, 0.74], 'CO2AMAXTB': [40.0, 0.0, 360.0, 1.0, 720.0, 1.0, 1000.0, 1.0, 2000.0, 1.0], 'TBASEM': 10.0, 'TEFFMX': 30.0, 'TSUMEM': 70, 'IDSL': 0, 'DLO': 1.0, 'DLC': 0.0, 'TSUM1': 750, 'TSUM2': 859, 'DTSMTB': [0.0, 0.0, 8.0, 0.0, 30.0, 22.0, 35.0, 22.0], 'DVSI': 0.0, 'DVSEND': 2.0, 'VERNBASE': 14.0, 'VERNSAT': 70.0, 'VERNDVS': 0.3, 'VERNRTB': [-8.0, 0.0, -4.0, 0.0, 3.0, 1.0, 10.0, 1.0, 17.0, 0.0, 20.0, 0.0], 'TDWI': 20.0, 'RGRLAI': 0.05, 'SLATB': [0.0, 0.0035, 1.0, 0.0016, 2.0, 0.0016], 'SPA': 0.0, 'SSATB': [0.0, 0.0, 2.0, 0.0], 'SPAN': 40.0, 'TBASE': 8.0, 'KDIFTB': [0.0, 0.6, 2.0, 0.6], 'EFFTB': [0.0, 0.5, 40.0, 0.5], 'AMAXTB': [0.0, 70.0, 1.25, 70.0, 1.5, 63.0, 1.75, 49.0, 2.0, 0.0], 'TMPFTB': [0.0, 0.0, 6.0, 0.0, 30.0, 1.0, 42.0, 1.0, 51.0, 0.0], 'TMNFTB': [5.0, 0.0, 12.0, 1.0], 'CVL': 0.72, 'CVO': 0.72, 'CVR': 0.72, 'CVS': 0.69, 'Q10': 2.0, 'RML': 0.03, 'RMO': 0.01, 'RMR': 0.01, 'RMS': 0.015, 'RFSETB': [0.0, 1.0, 2.0, 1.0], 'FRTB': [0.0, 0.4, 1.1, 0.0, 2.0, 0.0], 'FLTB': [0.0, 0.62, 0.48, 0.62, 0.9, 0.28, 1.25, 0.0, 1.37, 0.0, 2.0, 0.0], 'FSTB': [0.0, 0.38, 0.48, 0.38, 0.9, 0.72, 1.25, 0.24, 1.37, 0.0, 2.0, 0.0], 'FOTB': [0.0, 0.0, 0.48, 0.0, 0.9, 0.0, 1.25, 0.76, 1.37, 1.0, 2.0, 1.0], 'PERDL': 0.03, 'RDRRTB': [0.0, 0.0, 1.5, 0.0, 1.51, 0.02, 2.0, 0.02], 'RDRSTB': [0.0, 0.0, 1.5, 0.0, 1.51, 0.02, 2.0, 0.02], 'CFET': 1.0, 'DEPNR': 4.5, 'IAIRDU': 0, 'IOX': 0, 'RDI': 10.0, 'RRI': 1.2, 'RDMCR': 75.0, 'NMAXLV_TB': [0.0, 0.06, 0.4, 0.04, 0.7, 0.03, 1.0, 0.02, 2.0, 0.0167, 2.1, 0.0167], 'NMAXRT_FR': 0.5, 'NMAXST_FR': 0.5, 'NMAXSO': 0.022, 'NCRIT_FR': 1.0, 'NRESIDLV': 0.0053, 'NRESIDST': 0.0027, 'NRESIDRT': 0.0027, 'TCNT': 10, 'NFIX_FR': 0.0, 'PMAXLV_TB': [0.0, 0.0144, 0.4, 0.0096, 0.7, 0.0072, 1.0, 0.0048, 2.0, 0.004, 2.1, 0.004], 'PMAXRT_FR': 0.5, 'PMAXST_FR': 0.5, 'PMAXSO': 0.0075, 'PCRIT_FR': 1.0, 'PRESIDLV': 0.0005, 'PRESIDST': 0.0003, 'PRESIDRT': 0.0003, 'TCPT': 10, 'KMAXLV_TB': [0.0, 0.096, 0.4, 0.064, 0.7, 0.048, 1.0, 0.032, 2.0, 0.027, 2.1, 0.027], 'KMAXRT_FR': 0.5, 'KMAXST_FR': 0.5, 'KMAXSO': 0.006, 'KCRIT_FR': 1.0, 'KRESIDLV': 0.0067, 'KRESIDST': 0.0033, 'KRESIDRT': 0.0033, 'TCKT': 10, 'DVS_NPK_STOP': 1.3, 'DVS_NPK_TRANSL': 0.8, 'NLAI_NPK': 1.0, 'NSLA_NPK': 0.5, 'NPART': 1.0, 'NLUE_NPK': 1.1, 'NPK_TRANSLRT_FR': 0.5, 'RDRLV_NPK': 0.05}

In [16]:
wofost_object = pcse.start_wofost(grid=31031, crop=1, year=2000, mode='wlp')
type(wofost_object)

pcse.models.Wofost71_WLP_FD

In [17]:
wofost_object.run()
wofost_object.run(days=10)

In [18]:
wofost_object.get_variable('LAI')

0.2870809817505803

In [19]:
wofost_object.run(days=25)
wofost_object.get_variable('LAI')

1.5281221557442748

In [20]:
wofost_object.run_till_terminate()

In [22]:
output = wofost_object.get_output()

In [24]:
df = pd.DataFrame(output)

In [25]:
df

,day,DVS,LAI,TAGP,TWSO,TWLV,TWST,TWRT,TRA,RD,SM,WWLOW
0,2000-01-01,0.000000,0.144690,105.000000,0.000000,68.250000,36.750000,105.000000,0.005768,10.0,0.250000,19.090000
1,2000-01-02,0.008867,0.154184,111.889710,0.000000,72.728312,39.161399,111.889710,0.003312,11.2,0.253925,18.337965
2,2000-01-03,0.017157,0.164025,119.031178,0.000000,77.370266,41.660912,119.031178,0.002589,12.4,0.258804,18.322171
3,2000-01-04,0.024293,0.173908,126.203520,0.000000,82.032288,44.171232,126.203520,0.006309,13.6,0.263165,18.311042
4,2000-01-05,0.032706,0.185033,134.276367,0.000000,87.279639,46.996729,134.276367,0.003616,14.8,0.266002,18.287827
...,...,...,...,...,...,...,...,...,...,...,...,...
147,2000-05-27,1.934169,0.000000,15261.754008,7179.804492,3029.370474,5052.579042,1546.991228,0.000000,60.0,0.227706,13.662355
148,2000-05-28,1.953874,0.000000,15261.754008,7179.804492,3029.370474,5052.579042,1546.991228,0.000000,60.0,0.225102,13.506115
149,2000-05-29,1.974056,0.000000,15261.754008,7179.804492,3029.370474,5052.579042,1546.991228,0.000000,60.0,0.222831,13.369834
150,2000-05-30,1.995758,0.000000,15261.754008,7179.804492,3029.370474,5052.579042,1546.991228,0.000000,60.0,0.220333,13.219966
151,2000-05-31,2.000000,0.000000,15261.754008,7179.804492,3029.370474,5052.579042,1546.991228,0.000000,60.0,0.217911,13.074686

In [28]:
summary_output = wofost_object.get_summary_output()
msg = "Reached maturity at {DOM} with total biomass {TAGP} kg/ha snd a yield of {TWSO} kg/ha."
print(msg.format(**summary_output[0]))

Reached maturity at 2000-05-31 with total biomass 15261.754008006246 kg/ha snd a yield of 7179.804492059393 kg/ha.

In [29]:
summary_output

[{'DVS': 2.0,
  'LAIMAX': 6.132713013415593,
  'TAGP': 15261.754008006246,
  'TWSO': 7179.804492059393,
  'TWLV': 3029.3704738986926,
  'TWST': 5052.579042048161,
  'TWRT': 1546.9912279812847,
  'CTRAT': 22.457533447526988,
  'RD': 60.0,
  'DOS': None,
  'DOE': datetime.date(2000, 1, 1),
  'DOA': datetime.date(2000, 3, 28),
  'DOM': datetime.date(2000, 5, 31),
  'DOH': None,
  'DOV': None}]

In [ ]:
p.set_active_crop('maize', 'Maize_VanHeemst_1988')
print(p)

In [73]:
from pcse.fileinput import CABOFileReader
soilfile = '../data/soils/MX03737840.sol'
soildata = CABOFileReader(soilfile)
soildata['RDMSOL'] = 200

In [62]:
from pcse.fileinput import PCSEFileReader
soil = PCSEFileReader(soilfile)
# crop = PCSEFileReader(os.path.join(data_dir, "lintul3_springwheat.crop"))
# soil = PCSEFileReader(os.path.join(data_dir, "lintul3_springwheat.soil"))
# site = PCSEFileReader(os.path.join(data_dir, "lintul3_springwheat.site"))

In [64]:
from pcse.util import DummySoilDataProvider

In [65]:
soil = DummySoilDataProvider()

In [52]:
from pcse.util import WOFOST71SiteDataProvider
sitedata = WOFOST71SiteDataProvider(WAV=100, CO2=360)
print(sitedata)

{'IFUNRN': 0, 'NOTINF': 0, 'SSI': 0.0, 'SSMAX': 0.0, 'WAV': 100.0, 'SMLIM': 0.4, 'CO2': 360.0}

In [53]:
from pcse.base import ParameterProvider

In [54]:
parameters

In [55]:
from pcse.db import NASAPowerWeatherDataProvider
wdp = NASAPowerWeatherDataProvider(latitude=16.239, longitude=-92.954)
print(wdp)

Weather data provided by: NASAPowerWeatherDataProvider
--------Description---------
NASA/POWER SRB/FLASHFlux/MERRA2/GEOS 5.12.4 (FP-IT) 0.5 x 0.5 Degree Daily Averaged Data
----Site characteristics----
Elevation:  986.4
Latitude:  16.239
Longitude: -92.954
Data available for 1983-07-01 - 2020-02-25
Number of missing days: 30

In [56]:
from pcse.fileinput import YAMLAgroManagementReader
agromanagement_file = '../data/MASAGRO.agro'
agromanagement = YAMLAgroManagementReader(agromanagement_file)

In [69]:
from pcse.models import Wofost71_PP
parameters = ParameterProvider(cropdata=p, soildata=soildata, sitedata=sitedata)
wofsim = Wofost71_PP(parameters, wdp, agromanagement)