In [1]:
import pyreadr
import numpy as np
import pandas as pd

In [2]:
def df2array(df):
    m,n = len(df.columns.levels[0]), len(df.columns.levels[1])
    arr = df.values.reshape(-1,m,n)
    return(arr)

In [3]:
wdf = pyreadr.read_r('/home/germanm2/vr_value/Data/met_files/weather_historic_dt.rds')[None]
wdf

,year,day,radn,maxt,mint,rain,dayl,lat,lon,id_10
0,1980.0,1.0,2.982666,-0.5,-4.5,0.0,8.928,42.507686,-90.686331,1
1,1980.0,2.0,2.982666,-0.5,-4.5,0.0,8.928,42.507686,-90.686331,1
2,1980.0,3.0,4.936827,-1.0,-8.0,0.0,8.928,42.507686,-90.686331,1
3,1980.0,4.0,5.301780,-0.5,-8.0,0.0,9.024,42.507686,-90.686331,1
4,1980.0,5.0,6.029476,-0.5,-9.5,0.0,9.024,42.507686,-90.686331,1
...,...,...,...,...,...,...,...,...,...,...
21779545,2018.0,361.0,5.364818,13.5,5.0,5.0,9.504,37.024250,-88.460945,1530
21779546,2018.0,362.0,5.693276,14.5,5.0,14.0,9.504,37.024250,-88.460945,1530
21779547,2018.0,363.0,8.649400,8.5,-2.5,0.0,9.504,37.024250,-88.460945,1530
21779548,2018.0,364.0,7.116595,7.0,-1.0,0.0,9.504,37.024250,-88.460945,1530
21779549,2018.0,365.0,6.021734,15.5,5.0,15.0,9.504,37.024250,-88.460945,1530

In [14]:
wdf['year_day'] = 1e3*wdf.year + wdf.day

In [15]:
cls = ["radn", "maxt", "mint", "rain", "dayl"]
wdfw = wdf.pivot(index='id_10', columns= 'year_day', values = cls)
wdfw

              radn                                                    \
year_day 1980001.0 1980002.0 1980003.0 1980004.0 1980005.0 1980006.0
id_10
1         2.982666  2.982666  4.936827  5.301780  6.029476  6.237389
2         3.085517  2.674115  4.731126  5.093868  6.133432  5.301780
3         3.394069  2.365563  4.422574  5.093868  6.341345  5.405737
4         3.702620  2.365563  4.114022  4.781998  6.341345  6.549259
5         4.628275  1.954161  4.114022  4.470129  6.445302  6.549259
...            ...       ...       ...       ...       ...       ...
1526      7.226081  6.569165  2.408694  2.737152  5.912248  8.515584
1527      7.226081  6.678650  2.737152  2.080235  5.583790  8.626176
1528      7.007109  6.678650  2.737152  2.080235  5.640192  8.626176
1529      6.240706  7.335567  3.065610  2.080235  5.640192  8.404992
1530      6.240706  7.335567  3.065610  1.751777  5.640192  8.404992

                                                   ...      dayl            \
year_day 1980007.0 1980008.0 1980009.0  1980010.0  ... 2018356.0 2018357.0
id_10                                              ...
1         5.821563  5.509694  5.988557   8.930304  ...     8.928     8.928
2         6.029476  5.613650  5.988557   9.140429  ...     8.928     8.928
3         6.029476  5.613650  5.673370   9.140429  ...     8.928     8.928
4         6.029476  5.197824  5.673370   9.035367  ...     8.928     8.928
5         6.133432  4.885954  5.988557   9.035367  ...     8.928     8.928
...            ...       ...       ...        ...  ...       ...       ...
1526      9.400320  5.197824  7.962624   9.953280  ...     9.408     9.408
1527      9.400320  5.308416  7.741440  10.063872  ...     9.408     9.408
1528      9.289728  5.308416  8.073216  10.063872  ...     9.408     9.408
1529      9.289728  5.750784  7.962624   9.953280  ...     9.408     9.408
1530      9.068544  6.193152  7.741440   9.842688  ...     9.408     9.408

                                                                      \
year_day 2018358.0 2018359.0 2018360.0 2018361.0 2018362.0 2018363.0
id_10
1            8.928     8.928     8.928     8.928     8.928     8.928
2            8.928     8.928     8.928     8.928     8.928     8.928
3            8.928     8.928     8.928     8.928     8.928     8.928
4            8.928     8.928     8.928     8.928     8.928     8.928
5            8.928     8.928     8.928     8.928     8.928     8.928
...            ...       ...       ...       ...       ...       ...
1526         9.408     9.408     9.504     9.504     9.504     9.504
1527         9.408     9.408     9.504     9.504     9.504     9.504
1528         9.504     9.504     9.504     9.504     9.504     9.504
1529         9.504     9.504     9.504     9.504     9.504     9.504
1530         9.504     9.504     9.504     9.504     9.504     9.504


year_day 2018364.0 2018365.0
id_10
1            8.928     8.928
2            8.928     8.928
3            8.928     8.928
4            8.928     8.928
5            8.928     8.928
...            ...       ...
1526         9.504     9.504
1527         9.504     9.504
1528         9.504     9.504
1529         9.504     9.504
1530         9.504     9.504

[1530 rows x 71175 columns]

In [16]:
# Dim1: Locations, Dim2: Variables, Dim3: Days

wdfwnp = df2array(wdfw).astype('float32')

In [18]:
np.save('/home/rodrigo7/Documents/APSIMDL/weather.npy', wdfwnp)